<!DOCTYPE HTML>
  <head>
    <link rel='stylesheet' href='Gstylesheet.css' charset='utf-8'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/ScrollMagic.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/animation.gsap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/debug.addIndicators.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Miriam+Libre" rel="stylesheet">
  </head>

<body>
    <nav class="site-navigation-bar">
      <ul class="menu">
        <li><a href="#sec1" id="menu1">&nbsp;&nbsp; GEORGIA MILLS LOGO</a></li>
        <li><a href="#sec2" id="menu2"> &nbsp;&nbsp;A SIDE NOTE</a></li>
        <li><a href="#sec3" id="menu3"> &nbsp;&nbsp;GRACE PRINCE</a></li>
        <li><a href="#sec4" id="menu4"> &nbsp;&nbsp;FLARE</a></li>
        <li><a href="#sec5" id="menu5"> &nbsp;&nbsp;JOJA LONDON</a></li>
        <li><a href="#sec6" id="menu6"> &nbsp;&nbsp;THE HAPPINESS PROJECT</a></li>
        <li><a href="#sec7" id="menu7"> &nbsp;&nbsp;CONTACT ME</a></li>
      </ul>
    </nav>

    <div class="main-heading">
      <center>
        <p> GEORGIA MILLS </p>
      </center>
    </div>
    <div class="wrapper1">
      <div id="sec1">
        <div id="sec1-photo">
      	  <img src="Photo1.png" id="photo1" />
        </div>
        <div id="sec1-text">
          <p> I am a full stack junior developer </p>
        </div>
      </div>

      <div id="sec2">
        <div id="sec2-text">
          <p> I am a full stack junior developer </p>
        </div>
        <div id="sec2-line">
          <img src="line.png" id="line"/>
        </div>
        <div id="sec2-photo">
          <center>
            <p> XP values </p>
            <p> softwear craftmanship </p>
            <p> TDD </p>
            <p> Agile Methodologies </p>
          </center>
      	  <!-- <img src="Photo1.png" id="photo2" /> -->
        </div>
      </div>
      <div id="sec3">
        <div id="sec3-heading">
          <p>GRACE PRINCE </p>
        </div>
        <div id="sec3-photo">
      	  <img src="gracefull.png" id="photo3"/>
        </div>
        <div id="sec3-text">
          <p> INTERACTIVE </p>
          <p> ROLE <p>
            <p> Developer | UX- and UI-Design </p>
          <p> TECHNOLOGIES <p>
            <p> Ruby | Sinatra | GSAP </p>
          <p> DESCRIPTION </p>
        </div>
      </div>
      <div id="grace-sec">
        <p> Photos of Grace Prince to go here </p>
      </div>
      <div id="sec4">
        <div id="sec4-heading">
          <p>FLARE </p>
        </div>
        <div id="sec4-text">
          <p> ROLE <p>
            <p> Developer </p>
          <p> TECHNOLOGIES <p>
            <p> Swift | Xcode | Firebase </p>
          <p> DESCRIPTION </p>
        </div>
        <div id="sec4-photo">
      	  <img src="flarefull.png" id="photo4"/>
        </div>
      </div>
      <div id="sec5">
        <div id="sec5-photo">
      	  <img src="jojafull.png" id="photo5"/>
        </div>
        <div id="sec5-text">
          <p> Joja London </p>
          <p> ROLE <p>
            <p> Co-founder | Designer | CTO </p>
          <p> TECHNOLOGIES <p>
            <p> Wordpress </p>
        </div>
      </div>
      <div id="joja-sec">
        <p> Photos of Joja london to go here </p>
      </div>
      <div id="sec6">
        <div id="sec6-photo">
      	  <img src="jojafull.png" id="photo6"/>
        </div>
        <div id="sec6-text">
          <p> The Happiness Project </p>
          <p> ROLE <p>
            <p> Developer </p>
          <p> TECHNOLOGIES <p>
            <p> Javascript | Ruby on rails | Rspec </p>
          <p> DESCRIPTION </p>
        </div>
      </div>
      <div id="sec7">
      	<p>5</p>
      </div>
    </div>

  <script src="scrollMagic.js"></script>

  </body>
</html>
