<!DOCTYPE HTML>
  <head>
    <link rel='stylesheet' href='Gstylesheet.css' charset='utf-8'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/ScrollMagic.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/animation.gsap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/debug.addIndicators.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Miriam+Libre" rel="stylesheet">
  </head>

<body>
    <nav class="site-navigation-bar">
      <ul class="menu">
        <li><a href="#Sec1" id="menu1">&nbsp;&nbsp; GEORGIA MILLS LOGO</a></li>
        <li><a href="#Sec2" id="menu2"> &nbsp;&nbsp;A SIDE NOTE</a></li>
        <li><a href="#Sec3" id="menu3"> &nbsp;&nbsp;GRACE PRINCE</a></li>
        <li><a href="#Sec4" id="menu4"> &nbsp;&nbsp;FLARE</a></li>
        <li><a href="#Sec5" id="menu5"> &nbsp;&nbsp;JOJA LONDON</a></li>
        <li><a href="#Sec6" id="menu6"> &nbsp;&nbsp;CONTACT ME</a></li>
      </ul>
    </nav>

    <div class="main-heading">
      <center>
        <p> GEORGIA MILLS </p>
      </center>
    </div>
    <div class="wrapper1">
      <div id="sec1">
        <div id="sec1-photo">
      	  <img src="Photo1.png" id="photo1" />
        </div>
        <div id="sec1-text">
          <p> I am a full stack junior developer </p>
        </div>

      </div>

      <div id="sec2">
        <div id="sec2-text">
          <h1> Georgia Mills </h1>
          <h4> Hello I am a full-stack developer from london </h4>
          <h4> Hello I am a full-stack developer from london </h4>
          <h4> Hello I am a full-stack developer from london </h4>
          <h4> Hello I am a full-stack developer from london </h4>
          <h4> Hello I am a full-stack developer from london </h4>
        </div>
        <div id="sec2-photo">
      	  <img src="Photo1.png" id="photo2" />
        </div>
      </div>
      <div id="sec3">
        <div id="sec3-photo">
      	  <img src="flare2.png" id="photo3"/>
        </div>
        <div id="sec3-text">
          <p> Flare </p>
        </div>
      </div>
      <div id="sec4">
        <div id="sec4-text">
          <p> GRACE PRINCE</p>
        </div>
        <div id="sec4-photo">
      	  <img src="graceprince1.png" id="photo4"/>
        </div>
      </div>
      <div id="sec5">
        <div id="sec5-photo">
      	  <img src="joja3.png" id="photo5"/>
        </div>
        <div id="sec5-text">
          <p> Joja London </p>
        </div>
      </div>
      <div id="sec6">
      	<p>5</p>
      </div>
    </div>

  <script src="scrollMagic.js"></script>

  </body>
</html>
