<!DOCTYPE HTML>
  <head>
    <link rel='stylesheet' href='Gstylesheet.css' charset='utf-8'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/ScrollMagic.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/animation.gsap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/debug.addIndicators.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Cutive+Mono|The+Girl+Next+Door|Zeyada" rel="stylesheet">
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ >
  </head>

<body>
    <nav class="site-navigation-bar">
      <ul class="menu">
        <li><a href="#sec1" id="menu1">&nbsp;&nbsp; GEORGIA MILLS</a></li>
        <li><a href="#sec2" id="menu2"> &nbsp;&nbsp;A SIDE NOTE</a></li>
        <li><a href="#sec3" id="menu3"> &nbsp;&nbsp;GRACE PRINCE</a></li>
        <li><a href="#sec4" id="menu4"> &nbsp;&nbsp;FLARE</a></li>
        <li><a href="#sec5" id="menu5"> &nbsp;&nbsp;JOJA LONDON</a></li>
        <li><a href="#sec6" id="menu6"> &nbsp;&nbsp;THE HAPPINESS PROJECT</a></li>
        <li><a href="#sec7" id="menu7"> &nbsp;&nbsp;CONTACT ME</a></li>
      </ul>
    </nav>

    <div class="main-heading">
      <center>
        <p> GEORGIA MILLS</p>
      </center>
    </div>
    <div class="wrapper1">
      <div id="sec1">
        <div id="sec1-photo">
      	  <img src="Photo1.png" id="photo1" />
        </div>
        <div id="sec1-text">
          <p> Why did the developer quit his job? </p>
          <p> <i> Because he didn't get arrays </i> <p>
          <p> Hello, I am a full-stack developer with a passion <br> for user experience and design</p>
          <p> Being a hands-on kind of person, I love seeng a project through from conceptualization, prototyping and design <br> to testing and developing. </p>
          Having completed <a href="http://makersacademy.com">Makers Academy</a>, Europe's leading Web Developer bootcamp, I have been exploring the world of both front-end and back-end programming in a number of languages, its endless learning curves and its unlimited potential.
        </div>
      </div>

      <div id="sec2">
        <div id="sec2-text">
          <center>
            <p> XP values </p>
            <p> Softwear craftmanship </p>
            <p> Test driven development </p>
            <p> Agile Methodologies </p>
            </center>
        </div>
        <div id="sec2-line">
          <img src="line.png" id="line"/>
        </div>
        <div id="sec2-photo">
          <center>
            <p> Ruby | Rails <p>
            <p> Javascript | Node.js </p>
            <p> Swift | Xcode </p>
            <p> React | Redux </p>
            <p> Rspec| Jasmine| Mocha </p>
          </center>
        </div>
      </div>
      <div id="sec3">
        <div id="sec3-heading">
          <p> GRACE PRINCE </p>
        </div>
        <div id="sec3-photo">
      	  <img src="gracefull.png" id="photo3"/>
        </div>
        <div id="sec3-text">
          <p> <i> INTERACTIVE </i> </p>
          <p id="title"> ROLE <p>
            <p> Developer | UX- and UI-Design </p>
          <p id="title"> TECHNOLOGIES <p>
            <p> Ruby | Sinatra | GSAP </p>
          <p id="title"> DESCRIPTION </p>
            <p> Grace Prince, a talented furnature designer from London <br> came to me with a challenge. She wanted to create a <br> beautifully designed online portfolio, animated to show <br> off her playfull creative side, whilst retaining a <br> professional mannor. </p>
            <a href="http://www.graceprince.com">www.graceprince.com</a>
        </div>
      </div>
      <div id="grace-sec">
        <p> photos of Grace website go here </p>
      </div>
      <div id="sec4">
        <div id="sec4-heading">
          <p>FLARE </p>
        </div>
        <div id="sec4-text">
          <p id="title"> ROLE <p>
            <p> Developer </p>
          <p id="title"> TECHNOLOGIES <p>
            <p> Swift | Xcode | Firebase </p>
          <p id="title"><p id="title"> DESCRIPTION </p>
        </div>
        <div id="sec4-photo">
      	  <img src="flarefull.png" id="photo4"/>
        </div>
      </div>
      <div id="sec5">
        <div id="sec5-heading">
          <p>JOJA LONDON </p>
        </div>
        <div id="sec5-photo">
      	  <img src="jojafull.png" id="photo5"/>
        </div>
        <div id="sec5-text">
          <p id="title"> ROLE <p>
            <p> Co-founder | Designer | CTO </p>
          <p id="title"> TECHNOLOGIES <p>
            <p> Wordpress </p>
          <p id="title"> DESCRIPTION </p>
        </div>
      </div>
      <div id="joja-sec">
        <img src="bowtie1.png" id="bow-tie1" width="400">
        <img src="bowtie3.png" id="bow-tie3" width="400">
        <img src="bowtie4.png" id="bow-tie2" width="400">
        <img src="bowtie2.png" id="bow-tie4" width="400">
      </div>
      <div id="sec6">
        <div id="sec6-heading">
          <p>BLOOM </p>
        </div>
        <div id="sec6-photo">
      	  <img src="bloomfull.png" id="photo6"/>
        </div>
        <div id="sec6-text">
          <p> aka. The Happiness Project </p>
          <p id="title"> ROLE <p>
            <p> Developer </p>
          <p id="title"> TECHNOLOGIES <p>
            <p> Javascript | Ruby on rails | Rspec </p>
          <p id="title"> DESCRIPTION </p>
        </div>
      </div>
      <div id="sec7">
        <a href="mailto:hello@georgiamills.io?Subject=Hello%20there" id="contact-email">hello@georgiamills.io</a>
        <div id="socialmedia">
          <a href="https://www.facebook.com/georgia.mills.52" id="facebook"><img src='facebook.png' width='100px'/></a>
          <a href="https://www.instagram.com/grmillsy/" id="instagram"><img src='instagram.png' width='100px'/></a>
          <a href="https://uk.linkedin.com/in/georgia-mills-aa283694
" id="linkedin"><img src='linkedin.png' width='100px'/></a>
        </div>
        <img src="BOWTIE_MONKEY.png" id="bowtie">
      </div>
    </div>

  <script src="scrollMagic.js"></script>

  </body>
</html>
