<!DOCTYPE HTML>
  <head>
    <link rel='stylesheet' href='Gstylesheet.css' charset='utf-8'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/ScrollMagic.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/animation.gsap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/debug.addIndicators.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Miriam+Libre" rel="stylesheet">
  </head>

<body>
    <nav class="site-navigation-bar">
      <ul class="menu">
        <li><a href="#Sec1" id="menu1">Georgia Mills logo?</a></li>
        <li><a href="#Sec2" id="menu2">A side note</a></li>
        <li><a href="#Sec3" id="menu3">GracePrince</a></li>
        <li><a href="#Sec4" id="menu4">Flare</a></li>
        <li><a href="#Sec5" id="menu5">Joja London</a></li>
        <li><a href="#Sec6" id="menu6">Contact Me</a></li>
      </ul>
    </nav>

    <div class="wrapper1">
      <div id="sec1">
        <div id="sec1-photo">
      	  <img src="Photo1.png" id="photo1" />
        </div>
        <div id="sec1-text">
          <h1> Georgia Mills </h1>
          <h4> Hello I am a full-stack developer from london </h4>
          <h4> Hello I am a full-stack developer from london </h4>
          <h4> Hello I am a full-stack developer from london </h4>
          <h4> Hello I am a full-stack developer from london </h4>
          <h4> Hello I am a full-stack developer from london </h4>
        </div>

      </div>
      <div id="sec2">
      	<p>2</p>
      </div>
      <div id="sec3">
      	<p>3</p>
      </div>
      <div id="sec4">
      	<p>4</p>
      </div>
      <div id="sec5">
      	<p>5</p>
      </div>
      <div id="sec6">
      	<p>5</p>
      </div>
    </div>

  <script src="scrollMagic.js"></script>

  </body>
</html>
