
.main-heading {
  font-family: 'Zeyada', cursive;
  font-size: 25pt;
}

.active {
  background-image: url('arrow1.png');
  background-repeat: no-repeat;
  background-size: contain;
  left: -13px;
}

nav.site-navigation-bar {
  width: 12%;
  height: 100%;
  position: fixed;
  top: 0%;
  left: 0;
  font-family: 'Cutive Mono', monospace;
}

nav.site-navigation-bar li{
  padding-left: 0x;
  margin-top: 40px;
  width: 100%;
  list-style: none;
  text-align: right;
}

nav.site-navigation-bar ul{
  margin-top: 115px;

}

nav.site-navigation-bar a:visited, a:link, a:active {
  text-decoration: none;
  color: black;
}

nav.site-navigation-bar a:hover {
  color:#B9B9B9;
}

.wrapper1 {
  padding-left: 200px;
  width: 82%;
  font-family: 'Cutive Mono', monospace;
  /*position: relative;*/
}
#sec1 {
  width: 100%;
  position: relative;
}
#sec1-photo {
  position: absolute;
  max-width: 100%;
  height: auto;
}

#sec1-text {
  position: absolute;
  left: 48%;
  right: 0;

}

#sec2 {
  width: 100%;
  position: relative;
  margin-top: 250px;
  height: 60vh !important;
}

#sec2-text {
  position: absolute;
  max-width: 100%;
  height: auto;
  text-align: right;
  z-index: 19;
}

#sec2-line {
  position: absolute;
  left: 30%;
  top: 20%;
  max-width: 100%;
  height: auto;
  z-index: 20;
}

#sec2-photo {
  position: absolute;
  width: 55%;
  left: 48%;
  top: 30%;
  z-index: 18;
}

#sec3 {
  width: 100%;
  position: relative;
  margin-top: 250px;
}

#sec3-photo {
  position: absolute;
  max-width: 120%;
  height: auto;
}

#sec3-text {
  position: absolute;
  left: 47%;
  right: 0;
  width: 50%;
}

#sec4 {
  width: 100%;
  position: relative;
  margin-top: 250px;
}

#sec4-text {
  position: absolute;
  right: 55%;
  max-width: 100%;
  height: auto;
  text-align: right;
}

#sec4-photo {
  position: absolute;
  left: 47%;
  right: 0;
}

#sec5 {
  width: 100%;
  position: relative;
  margin-top: 250px;
}

#sec5-photo {
  position: absolute;
  max-width: 100%;
  height: auto;
}

#sec5-text {
  position: absolute;
  left: 47%;
  right: 0;
  width: 50%;
}

#sec6 {
  width: 100%;
  position: relative;
  margin-top: 250px;
}

#sec6-text {
  position: absolute;
  right: 55%;
  max-width: 100%;
  height: auto;
  text-align: right;
}

#sec6-photo {
  position: absolute;
  left: 47%;
  right: 0;
}

.wrapper1 div{
  height:100vh;
}


@media only screen and (max-width: 600px) {
  .wrapper1 {
    padding-left: 0;
  }

  div#sec1-photo {
    max-width: 500px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  div#sec1-text {
    position: static !important;
    text-align: center;
    width: 100%;
    float: none;
    display: block;
  }
  nav.site-navigation-bar {
    display: none;
  }

}
